@charset "UTF-8";



@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');



:root {
    --font-titulo:'Libre Baskerville';
    --font-sub-titulo:'Raleway';
    --font-corpo:'Inter';
    
    --cor1: #faf1ec;
    --cor2: #AAADBF;
    --cor3: #404873;
    --cor4: #252C5C;
    --cor5: #050E40;

}




*{
    padding: 0px;
    margin: 0px;
    


    


    
}
body{
    overflow-x: hidden;
    
}
main{
    
}

#titulos1{
  font-family: var(--font-titulo);
  text-align: center;
  font-size: 250%;
  font-weight: bolder;
  color:#1a1c40 ;
}

#titulos2{
  font-family: var(--font-titulo);
  text-align: center;
  font-size: 250%;
  font-weight: bolder;
  color:#faf1ec;
}
#titulos3{
  font-family: var(--font-titulo);
  text-align: left;
  font-size: 180%;
  font-weight: bolder;
  color:#1a1c40;
}

#titulo4{
    font-family: var(--font-titulo);
    font-size: 150%;
    margin-top: 10px;
    text-align: center;
    color: var(--cor1);
}

#corpodetexto1{
     font-family: var(--font-corpo);
    text-align: center;
    margin-top: 15px;
    font-size: 110% ;
    line-height:130% ;
    font-weight: bold;
    color:#1a1c40 ;
}

#corpodetexto2{
    font-family: var(--font-corpo);
    text-align: center;
    margin-top: 15px;
    font-size: 110% ;
    line-height:130% ;
    font-weight: bold;
    color:#faf1ec;
}

#corpodetexto3{
    font-family: var(--font-corpo);
    text-align: left;
    margin-top: 15px;
    font-size: 110% ;
    line-height:100% ;
    font-weight: bold;
    color:#1a1c40 ;
}


.CONTATE-NOS{
    position: absolute;
    
    
    left: 5.5%;
    top: 40%;
  
    font-family: var(--font-titulo);
    color: var(--cor1);
    text-decoration: none;
    font-size: larger;
    font-weight: bolder;
    font-size: 80%;
    background:#5b6ffa;
    padding: 8px 8px 8px 8px;
    border-radius: 7%;
    text-align: center;
    
    
  
  
  }
  
  
  
  header  a:hover{
    background-color:var(--cor4);
    color: #AAADBF;
    border-radius: 5%;
  }

#imagemhome{
    min-width: 100%;
    max-height: 330px;
   

}
#oescritorio{
  
    background-color: #faf1ec;
    
    padding-top: 100px;
    padding-bottom: 50px;
    padding-left: 5%;
    padding-right: 5%;
    
    
   
   
   
  
  }
  #assesoriajuridica{
    background-color:#5b6ffa ;
    
    padding-top: 100px;
    padding-bottom: 50px;
    padding-left: 5%;
    padding-right: 5%;
    
  }


  #areadeatuacao{
    margin-top: 5px;
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
    
    background-color: #f4f1ec;
    height: 150px;
}

#Trabalhista{  
    background-color: #c8d2ff;
    
    padding-bottom: 50px;
    padding-left: 2.66%;
    padding-right: 2.66%;
    padding-top: 20px;

}

#execucaodecontratos{
    background-color:#aacdf1;
    
    padding-bottom: 50px;
    padding-left:2.66%;
    padding-right: 2.66%;
    padding-top: 20px;

}
#direitosucessorio{
    background-color:#85acf6;
    
    padding-bottom: 50px;
    padding-left:2.66%;
    padding-right: 2.66%;
    padding-top: 20px;

}

#direitomedico{
    background-color:#6387ca;
   
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 5%;
    padding-right: 5%;

}

#direitodoconsumidor{
  background-color:#3d5d99;
  
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 5%;
  padding-right: 5%;

}
#direitomedicodireitodoconsumidor{
    margin-bottom: 5px;

}

#imgapertodemaos{
    border: none;
    padding-top: 10%;
}



#caixaprofss{
    background-color:#faf1ec ;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 5%;
    padding-right: 5%;
    
    list-style: none;

}
#jacju{
    padding-top: 10px;

}
#pqferreiraemassoni{
    background-image:url(imagens/FUNDO2.jpg) ;
    color: var(--cor1);
    
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 5%;
    padding-right: 5%;

    margin-top: 5px;
    text-align: center;
   
    

}
#caixaspqfm{
    border: 2px solid var(--cor1) ;
    margin: 15px;
    font-family: var(--font-corpo);
}